<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap4/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/lib/persian_fonts/persian_fonts_override.css" rel="stylesheet" />

    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body dir="rtl">
    <header>
        <a asp-page="Index">مدیریت سایت</a>
    </header>
    <div class="row">
        <div class="col-md-2">
            <nav>
                <ul>
                    <li>
                        <a class="nav-item" asp-controller="Home" asp-action="Index">
                            برو به صفحه اصلی
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
